<div class="login-form">
  <div>
    <label>
      Username:
    </label>
    <input name="username" (keyup)="onKey($event)" value="{{ username }}" />
    <div class="error">
      <span *ngIf="error">This item is required.</span>
    </div>
  </div>
  <div>
    <label>
      Password:
    </label>
    <input name="password" (keyup)="onKey($event)" value="{{ password }}" />
    <div class="error">
      <a>This item is required.</a>
    </div>
  </div>
  <div>
    <button (click)="submitForm()">
      Login
    </button>
  </div>
</div>
