<form class="login-form">
  <div>
    <label>
      Username:
    </label>
    <input [ngClass]="{'error-input': error.password}" name="username" (keyup)="onKey($event)" value="{{ username }}" />
    <div *ngIf="error.username" class="error">
      <span>This item is required.</span>
    </div>
  </div>
  <div>
    <label>
      Password:
    </label>
    <input [ngClass]="{'error-input': error.password}" name="password" (keyup)="onKey($event)" value="{{ password }}" />
    <div *ngIf="error.password" class="error">
      <span>This item is required.</span>
    </div>
  </div>
  <div>
    <button (click)="submitForm($event)">
      Login
    </button>
  </div>
</form>
